html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header div {
  display: inline;
}
header img {
  margin-top: 22px;
  margin-left: 99px;
}
@media only screen and (max-width: 768px) {
  header img {
    margin-left: 40px;
  }
}
header a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 17px;
  font-weight: 400;
  color: #636060;
  margin-top: -33px;
}
header a:hover {
  color: rgb(109, 7, 204);
}
@media only screen and (max-width: 768px) {
  header a {
    display: none;
  }
}
header i {
  display: none !important;
  margin-top: -33px;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  header i {
    display: inline-block !important;
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  header div {
    width: 90%;
    display: inline-block;
  }
}

main {
  margin-top: 80px;
}
main #cover-image {
  width: 100%;
  height: 600px;
  background-image: url(../images/pic1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #cover-image h1 {
  min-width: 391px;
  font-size: 79px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  main #cover-image h1 {
    font-size: 54px;
  }
}
main #cover-image p {
  min-width: 291px;
  font-size: 19px;
  font-weight: 400;
  color: white;
}
@media only screen and (max-width: 768px) {
  main #cover-image p {
    font-size: 16px;
  }
}
main #main-div {
  display: flex;
  flex-flow: row wrap;
}
main #main-div #discover {
  margin: 130px 0 0 100px;
}
@media only screen and (max-width: 768px) {
  main #main-div #discover {
    margin: 0 auto;
    margin-top: 40px;
  }
}
main #main-div #discover h1 {
  font-size: 17px;
  font-weight: 400;
  color: #636060;
  margin-bottom: 9px;
}
main #main-div #discover h2 {
  font-size: 28px;
  font-weight: 400;
  color: #010101;
  margin-bottom: 37px;
}
main #main-div #discover p {
  font-size: 20px;
  font-weight: 400;
  color: #636060;
  width: 235px;
  height: 115px;
}
main #main-div #div {
  display: flex;
  flex-flow: row wrap;
  max-width: 957px;
  margin-top: 76px;
  margin-bottom: 100px;
  margin-left: 100px;
}
@media only screen and (max-width: 768px) {
  main #main-div #div {
    margin: 0 auto;
  }
}
main #main-div #div div {
  margin-top: 56px;
  margin-right: 33px;
}
@media only screen and (max-width: 768px) {
  main #main-div #div div {
    margin: 20px auto;
  }
}
main #main-div #div h1 {
  font-size: 19px;
  font-weight: 400;
  color: #343232;
  margin-top: 23px;
  margin-bottom: 9px;
}
main #main-div #div p {
  font-size: 18px;
  font-weight: 400;
  color: #636060;
  width: 286px;
  height: 63px;
}